<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://homemarket.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>homemarket.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>homemarket</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$homemarket</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MarketContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:t2jrihhco9.database.windows.net,1433;Initial Catalog=homemarket;Persist Security Info=True;User ID=yn_dev@t2jrihhco9;Password=Ver13122108Ter;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Server=tcp:t2jrihhco9.database.windows.net,1433;Database=homemarket;User ID=yn_dev@t2jrihhco9;Password=Ver13122108Ter;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Initial Catalog=homemarket;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HomeMarket.Models.MarketContext, HomeMarket" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:t2jrihhco9.database.windows.net,1433;Initial Catalog=homemarket;Integrated Security=False;Persist Security Info=True;User ID=yn_dev@t2jrihhco9;Password=Ver13122108Ter;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" Name="Server=tcp:t2jrihhco9.database.windows.net,1433;Database=homemarket;User ID=yn_dev@t2jrihhco9;Password=Ver13122108Ter;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=homemarket;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=10.10.102.25;Initial Catalog=homemarket;Persist Security Info=True;User ID=dev_user;Password=dev_user;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=10.10.102.25;initial catalog=homemarket;persist security info=True;user id=dev_user;password=dev_user;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql" Enabled="True">
            <Source Path="C:\Users\unevalenniy\Desktop\expdata.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="..\DataBaseScripts\create_db.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="..\DataBaseScripts\create_tables.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=tcp:t2jrihhco9.database.windows.net,1433;database=homemarket;user id=yn_dev@t2jrihhco9;password=Ver13122108Ter;trusted_connection=False;encrypt=True;connection timeout=30;initial catalog=homemarket;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MarketContext-Web.config Connection String">
      <ParameterValue>Server=tcp:t2jrihhco9.database.windows.net,1433;Database=homemarket;User ID=yn_dev@t2jrihhco9;Password=Ver13122108Ter;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Initial Catalog=homemarket;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>